{% extends 'OrderTaker/base.html' %}
{% load static %}
{% block content %}

    {% if category_list %}
        <script>
            $(function () { // this will be called when the DOM is ready
                $("#categorySearch").on("keyup", function () {
                    const value = $(this).val().toLowerCase();
                    $("#myContainer div").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}  alert-dismissible fade show"
                         role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}<h3>Order online!</h3>

            <p>
                No more queues. Select your needs from the list and take it way in a flash. </p>
            <br>

            <div class="container " id="myContainer">
                <label for="myInput"></label><input id="categorySearch" class="form-control" type="text"
                                                    placeholder="Search Category">
                <div class="row mt-2">
                    {% for category in category_list %}

                        <div class="col-auto">
                            <div class="card">
                                <a href="{% url 'products' category_id=category.category_id %}"
                                   style="text-decorations:none; color:inherit;">

                                    <img alt=" Card image cap" class="card-img-top" src="{% static "brownrice.jpg" %}">
                                    <div class="card-footer"
                                         style="background: darkslateblue; color: white;font-size: small;text-align: center;">
                                        {{ category.category_name }}
                                    </div>
                                </a>
                            </div>

                        </div>
                    {% endfor %}
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    {% else %}
        <p>No categories are available.</p>
    {% endif %}
{% endblock %}
