{% extends 'OrderTaker/inactivebase.html' %}

{% block content %}
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}  alert-dismissible fade show"
                             role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                <form action="{% url 'enter' %} " method="post">
                    {% csrf_token %}
                    <h3>Welcome To Bombay General Stores</h3>
                    <hr>
                    <div class="form-group">
                        <label for="phone">Number</label>
                        <div class="form-row">
                            <div class="col-2">
                                <input type="text"
                                       id="countrycode"
                                       name="countrycode"
                                       value="+91"
                                       style="text-align: center;"
                                       disabled="true"
                                       class="form-control"
                                       width="6">
                            </div>

                            <div class="col-md-7">

                                <input type="text"
                                       class="form-control"
                                       id="phone"
                                       name="phone"
                                       placeholder="Enter your 10 digit mobile number"
                                       aria-describedby="phonetext"
                                       required title="Please enter a valid 10 digit mobile number"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   name="password"
                                   placeholder="Enter your password"
                                   pattern=".{3,}"
                                   required title="3 Characters minimum"
                            >
                        </div>

                        <p id="gotoregister" class="form-text text-muted">
                            Not a member yet.. Please <a href="{% url 'register' %}"> Register </a>
                        </p>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">Proceed</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}