{% extends 'OrderTaker/base.html' %}

{% block content %}
    {% if product_list %}

        <div class="container mt-3" style="margin-top:10px">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}  alert-dismissible fade show"
                         role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <div id="productContainer" class="container mt-3">
                <h3>{{ category }}</h3>
                {% for product in product_list %}
                    <div id="card" class="card mt-3">

                        <div class="card-body">
                            <form action="{% url 'add' %} " method="post">
                                <input type="hidden"
                                       value="{{ category_id }}"
                                       name="category">
                                {% csrf_token %}
                                <h5 class="card-title"
                                    style="display:block;text-overflow: ellipsis;width: 340px;overflow: hidden; white-space: nowrap;">{{ product.product_name }}</h5>
                                <div class="row">
                                    {% with product_attribute_list=product.product_attribute_list %}
                                        {% for item in product_attribute_list %}
                                            {% with forloop.counter as counter %}
                                                <div class="col-auto">
                                                    <label for="ProdQuantity{{ item.product_id }}"></label>
                                                    <input type="number"
                                                           id="ProdQuantity{{ item.product_id }}"
                                                           class="form-control"
                                                           style="width: 100px;"
                                                           min="0"
                                                           name="ProdQuantity{{ item.product_id }}"
                                                           placeholder="{{ item.attribute }}">
                                                </div>
                                            {% endwith %}
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                                <br>

                                <button type="submit"
                                        class="btn btn-warning">
                                    Add to Cart
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}

                <br>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    {% else %}
        <p>No categories are available.</p>
    {% endif %}
{% endblock %}
