<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BGS Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand mb-01 h1" href="{% url 'index' %}">BGS Shopping</a>
    </nav>
</header>
<main>
{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 d-flex flex-column align-items-center justify-content-sm-center align-content-center">
                <article>
                    <h1>We&rsquo;ll be back soon!</h1>
                       <blockquote class="blockquote">
                            <p class="lead">Sorry for the inconvenience but we&rsquo;re closed at this time. Please
                                come back
                                {% if mode == 'auto' %}
                                    between {{ start }} and {{ end }} tomorrow.
                                {% else %}
                                    later.
                                {% endif %}
                                <br>
                                <br>
                                In case of any urgent queries,
                                you can always <a href="mailto:#">contact us</a>, otherwise we&rsquo;ll be back online
                                shortly!</p>
                            <footer class="blockquote-footer">Bombay General Stores</footer>
                        </blockquote>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
</main>
</body>
</html>